body {
  text-align: center;
}

#content {
  margin-top: 40px;
}

#content p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}

#up {
  display: none;
}

#formatting-error,
#filter-choice,
#filter-chosen,
#filter-saving,
#file-upload,
#file-uploaded {
  display: none;
}

#formatting-error h1 {
  font-size: 32px;
}

#formatting-error .message {
  font-size: 21px;
}

#formatting-error
, #success {
  margin-bottom: 50px;
}
