body {
  text-align: center;
}

#content {
  margin-top: 40px;
}

#content p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}

#up {
  display: none;
}

#upload-history,
#success,
#formatting-error,
#unexpected-error,
#filter-choice,
#filter-saving,
#file-upload,
#file-uploaded {
  display: none;
}

#formatting-error h1,
#unexpected-error h1 {
  font-size: 32px;
}

#formatting-error .message,
#unexpected-error .message {
  font-size: 21px;
}

#formatting-error,
#unexpected-error,
#success {
  margin-bottom: 50px;
}

#unexpected-error pre {
  display: none;
  text-align: left;
  width: 600px;
  margin: 0 auto;
}

#unexpected-error .more {
  cursor: pointer;
}

#upload-history {
  width: 500px;
  margin: 50px auto;
  text-align: left;
}

#upload-history span {
  float: right;
  color: #999;
}

#upload-history a {
  padding-left: 34px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

#upload-history .success a {
  background-image: url(tick.png);
}

#upload-history .fail a {
  background-image: url(cross.png);
}
